<% content_for :sidebar do %>
	<li class="list-group-item">
		<%= link_to "New State", new_admin_state_path %>
	</li>
<% end %>

<div class="panel panel-default">	
	<div class="panel-heading">
		States
	</div>
	<table id="states" class="table">
		<thead>
			<tr>
				<th>State</th>
				<th>Default</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for state in @states %>
				<tr id="state_<%= state.name%>">
					<td><%== render partial: "states/state", locals: {state: state} %></td>
				  <td><%=  yesno(state.default?) %></td>
					<td><%= link_to 'Make Default Starting State', make_default_admin_state_path(state) %></td>
					<td><%= link_to "Edit",  edit_admin_state_path(state.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
